*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main styling*/
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

.p{
    margin: 10px;
}
a{
    color: white;
    text-decoration: none;
    
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
.text-primary{
    color: #1f0463;
}
.clr{
     
    clear: both;
}
.l-heading{
    font-size: 40px;
}


/*padding*/
.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}

.lead{
    font-size: 20px;
}
.btn{
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn-light{
    background: #f4f4f4;
    color: #333;
}
.btn:hover{
    background:orange ;
    color: black;
}
#navbar{
    background:#333 ;
    color: white;
    overflow: auto;
}
#navbar h1{
    float: left;
    padding: 20px;
}
#navbar ul{ 
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#navbar ul li a{
    display: block;
    padding: 20px;
}
#navbar ul li a:hover{
    background: rgb(12, 157, 214);
    color: crimson;
}
/* showcase */

#showcase{
    background: url( "img/image.png") no-repeat 
    center center/cover;
    height: 600px;

}
.showcase-content {
    color: black;
    text-align: center;
    padding-top: 170px;
}
.showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
    
}
.showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}
/* home info*/

#home-info{
    height: 500px;

}

.info-content{

    
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    background-color: rgb(132, 141, 141);
}
.info-content p {
    padding-bottom: 30px;
}
/*features*/

.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
.bg-primary{
    color: white;
    background: #f7c08a;

}
/* about info*/
.info-right{
    float: right;
    width: 50%;
    min-height: 100%;


}
 #about-info.info-right img{
    display: block;
    margin: auto;
    width: 70%;
    border-radius:50% ;
}
.info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}

/* contact form*/
.form-group{
    margin-bottom: 20px;
}
 label{
    display: block;
    margin-bottom: 5px;
}
#contact-form input, 
#contact-form textarea{

    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;

}
textarea{
    height: 200px;
    width: 400px;
}
.contenar{
    text-align: center;
}
#contact-form input:focus,
#contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}




/*footer*/
#main-footer{
    text-align: center;
    background:  #444;
    color: white;
    padding: 20px;
}







